.header{
  height: 230px;
  background-color: #ff6b08;

  @include _phone_gap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/rectanglejpg.jpg");

  }

  @include _tablet {
    width: 648px;
  }

  @include _desktop {
    width: 912px;
  }
}
.header__link{
  color: white;
  text-transform: uppercase;
  display: flex;
}
.header__icon{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 46px 0 0 0;
}
.header__li:first-child{
  margin-right: 39px;
}