.header{
  height: 230px;
  background-color: #ff6b08;

  @include _phone_gap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/rectanglejpg.jpg");

  }

  @include _tablet {
    width: 648px;
  }

  @include _desktop {
    width: 912px;
  }
}
