.main__list{
  display: flex;
  flex-wrap: wrap;

  //margin-right: -15px;
  margin-top: -15px;
  @include _phone_gap {
    padding: 0 15px;
    flex-direction: column;
  }

  @include _tablet {
    padding: 0 74px;
  }

  @include _desktop {
    padding: 0 65px;
  }
}
.main__item{

  height: 443px;
  //border: 1px solid black;

  margin-top: 15px;

  border-radius: 5px;
  @include _phone_gap {
    width: 290px;
    margin-right: auto;
    margin-left: auto;
  }

  @include _tablet {
  margin-right: 15px;
  width: 295px;

  }

  @include _desktop {
  margin-right: 15px;
  width: 275px;
  }
}

.text__name{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.text__info{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FF6B08;
}
.main__img{
  margin-bottom: 10px;
}
