.main__list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: -15px;
  @include _phone_gap {

    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include _tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include _desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.main__item{

  transition: transform 250ms linear;
  margin-top: 15px;
  border-radius: 5px;
  @include _phone_gap {
    width: 290px;
    margin-right: auto;
    margin-left: auto;
  }

  @include _tablet {
    width: 293px;
  }

  @include _desktop {
    width: 274px;
  }
}
.main__item:hover,
.main__item:focus{

  transform: scale(1.05);

}

.text__name{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
.text__info{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FF6B08;
}
.main__img{
  margin-bottom: 10px;
}
