<header>
  <section class='.container_header header'>
    <div class='container'>
      <div class='header__up'>
        <a class='header__film' href='index.html'>
          <img class='header__pic' src='../src/images/film.svg'>
          <span class='header__span'>Filmoteka</span>
        </a>

        <ul class='header__link'>
          <li class='header__li active'>
            <a class='header__link-page' href='index.html'>Home</a>
          </li>
          <li class='header__li'><a class='header__link-page' href='library.html'>my library</a></li>
        </ul>
      </div>
      <div class='header__enter'>
        <input class='header__input' type='text' placeholder='Поиск фильмов'>
        <button class='header__button' type="submit"></button>
      </div>
    </div>

  </section>
</header>


