<header>
  <section class='container_header header header-library'>
    <div class='container'>
    <div class='header__up'>
      <a class='header__film' href='index.html'>
        <img class='header__pic' src='../src/images/film.svg'>
        <span class='header__span'>Filmoteka</span>
      </a>

      <ul class='header__link'>
        <li class='header__li'>
          <a class='header__link-page' href='index.html'>Home</a>
        </li>
        <li class='header__li active'>
          <a class='header__link-page' href='library.html'>my library</a>
        </li>
      </ul>
    </div>
    <ul class='library__list'>
      <li class='library__list-item'>
        <button id='library__btn-watch' class='library__btn'>Watched</button>
      </li>
      <li class='library__list-item'>
        <button id='library__btn-queue' class='library__btn active__btn'>queue</button>
      </li>
    </ul>
    </div>
  </section>
</header>