<header>
  <section class='.container_header header'>
    <div class='container'>
      <div class='header__up'>
        <a class='header__film' href='index.html'>
          <img class='header__pic' src='../src/images/film.svg'>
          <span class='header__span'>Filmoteka</span>
        </a>

        <ul class='header__link'>
          <li class='header__li active'>
            <a class='header__link-page' href='index.html'>Home</a>
          </li>
          <li class='header__li'><a class='header__link-page' href='library.html'>my library</a></li>
        </ul>
      </div>
      <form class='header__enter'>
        <input id="textInput" class='header__input' name='film' type='text' placeholder='Search film' autocomplete="off">
        <button id="clearButton" class='header__button' type="submit"></button>
      </form>
      <p class='error-text hidden'>Search result not successful. Enter the correct movie name.</p>
    </div>

  </section>
</header>


