<main>
<!--    <h1>Filmoteka</h1>-->
  <div class='container'>
    <ul class='main__list'>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
      <li class='main__item'>
        <img class='main__img' src='../src/images/test.jpg'>
        <div class='block__text'>
          <p class='text__name'>AQUARELA</p>
          <p class='text__info'>Documentary, Drama, Other | 2019</p>
        </div>
      </li>
    </ul>
  </div>
<!--   <include src="./partials/utils/spinner.html"></include>-->

<!--   <include src="./partials/sections/your-section.html"></include>-->
</main>
