.thumb {
  position: relative;
  overflow: hidden;

}
.thumb > .modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  @include _tablet {
    padding-top: 210px;
  }

  @include _desktop {
    padding-top: 100px;
  }

}
.hidden{
  visibility: hidden;
}
.modal__content{
  position: relative;
  width: 280px;
  height: 958px;
  background-color: #FFFFFF;
  margin: 20px 20px 30px;
  padding: 48px 20px 41px;
  @include _phone_gap {
    min-height: 958px;
  }

  @include _tablet {
  //display: flex;
    width: 618px;
    height: 562px;

  }

  @include _desktop {
    width: 882px;
    height: 686px;
    margin: 0;
  }

}

.modal__wrap-pic{
  @include _tablet {
    margin-right: 32px;

  }

  @include _desktop {
  margin-right: 30px;
    width: 396px;
  }
}
.modal__wrap-cont{
  display: flex;
  flex-direction: column;
  //width: 264px;
  @include _tablet {
    width: 264px;

  }

  @include _desktop {
    width: 396px;
  }
}

.modal__rend{

  margin-bottom: 20px;
  @include _phone_gap {

  }

  @include _tablet {
    display: flex;

  }

  @include _desktop {
    display: flex;
  }

}
.modal__img{
  width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
  @include _tablet {
    width: 264px;
    height: auto;
  }

  @include _desktop {
    width: 396px;
    height: auto;
  }
}
.modal__button{
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/close.svg");
  border: none;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;

}

.modal__text-name{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}
.modal__link{
  margin-bottom: 10px;
}
.modal__item{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 10px;
}
.modal__item-text{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
  flex-shrink: 0;
  width: 90px;

}
.modal__item-text2{
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  flex-shrink: 1;
}
.modal__item-text2,
.modal__item-span2{
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}
.modal__item-span2{
  border: 0.1px solid #f7f7f7;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 0 8px;
}
.modal__genres{
  text-transform: none;
}
.modal__item-vote{
  color: #FFFFFF;
  border: 0.1px solid #ff6b08;
  border-radius: 5px;
  background-color: #ff6b08;
  padding: 0 8px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.modal__title{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}
.modal__overview{
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 21px;
}

.buttons_item{
  display: flex;

}

.buttons_item__btn{
  width: 113px;
  height: 44px;
  border: 1px solid black;
  background-color: #FFFFFF;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  text-transform: uppercase;
}
.buttons_item__btn:first-child{
  margin-right: 20px;
}

.active-btn__modal{
  border: none;
  background-color: #ff6b08;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}