.thumb {
  position: relative;
  overflow: hidden;

}
.thumb > .modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  transition: visibility 0.3s linear, opacity 0.3s linear;


}
.modal__content{
  position: relative;
  width: 280px;
  height: 958px;
  background-color: #FFFFFF;
  margin: 20px 20px 30px;
  padding: 48px 20px 41px;
}

.modal__img{
  width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.modal__button{
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/close.svg");
  //background-repeat: no-repeat;
  border: none;
  //padding:0 6px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}


