.container_header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;


  @include _phone_gap {
    min-width: 320px;
  }

  @include _tablet {
    min-width: 768px;
  }

  @include _desktop {
    min-width: 1024px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include _phone_gap {
    width: 310px;
  }

  @include _tablet {
    width: 648px;
  }

  @include _desktop {
    width: 912px;
  }
}
.wrapper{
  box-sizing: border-box;
  @include _phone_gap {
    min-width: 320px;
  }

  @include _tablet {
    min-width: 768px;
  }

  @include _desktop {
    min-width: 1024px;
  }
}